%div.company-container{class: 'company-' + company.gsub(/\W/, '-').downcase}
  %section.company
    %h2.name
      .short-name= company_short ||= company
      .long-name= company
      %small.location= location
    .title= title
    .dates
      .start-date= dates['start']
      .end-date= dates['end']
    - if duties.nil?
      .problem
        No duties available.
    - else
      %ul.duties
        - duties.each do | duty |
          %li.duty= duty
