.school
  %section.school
    %h3.name
      = institution
      %small.location= location
    .dates
      .start-date= dates['start']
      .end-date= dates['end']
    .degree= degree
    .gpa= gpa
